.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
.example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .icon-large
  {
    transform: scale(4);
    color:rgb(211, 59, 122)
  }
  .center-class
  {
    text-align: center;
  }
  .submit-button
  {
    width: 100%;
    text-align: center;
  }
  button{
    min-width: 300px;
  }
